<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        {%if current_user.role == "Montir" %}
            <a href="{{url_for('montir_blueprint.beranda_montir')}}" class="b-brand">
        {% elif current_user.role == "Bengkel" %}
            <a href="{{url_for('bengkel_blueprint.dashboard')}}" class="b-brand">
        {% endif %}
            <div class="b-bg">
                <i class="feather icon-trending-up"></i>
            </div>
            <span class="b-title">MoKel</span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li>
                <label>
                    <i class="icon feather icon-sun" id="theme-indicator"></i>
                    <input type="checkbox" id="theme-switch" class="d-none">
                </label>
            </li>
            <li>
                <div class="dropdown drp-user">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon feather icon-settings"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="{{ config.ASSETS_ROOT }}/bengkel_assets/images/user/avatar-1.jpg" class="img-radius"
                                alt="User-Profile-Image">
                            <span>
                                {{ current_user.id }}
                            </span>
                            <a href="{{ url_for('authentication_blueprint.logout') }}" class="dud-logout" title="Logout">
                                <i class="feather icon-log-out"></i>
                            </a>
                        </div>
                        <ul class="pro-body">
                            <li><a href="/profile.html" class="dropdown-item"><i class="feather icon-settings"></i>
                                    Settings</a></li>
                            {%if current_user.role == "Montir" %}
                                <li><a href="{{url_for('montir_blueprint.profile_montir')}}" class="dropdown-item"><i class="feather icon-user"></i>
                                    Profile</a>
                                </li>
                            {% elif current_user.role == "Bengkel" %}
                                <<li><a href="/profile.html" class="dropdown-item"><i class="feather icon-user"></i>
                                    Profile</a>
                                </li>
                            {% endif %}
                            <li><a href="../home/changePass.html" class="dropdown-item"><i class="feather icon-alert-octagon"></i>
                                    Change Password</a></li>
                            <li><a href="{{ url_for('authentication_blueprint.logout') }}" class="dropdown-item">
                                    <i class="feather icon-lock"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->